# Entorno virtual de Python (miles de archivos innecesarios para Git)
venv/
env/
ENV/

# Archivos de caché compilados por Python
__pycache__/
*.py[cod]
*$py.class

# Configuración local del editor (VS Code)
.vscode/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db